# Mac
.DS_Store


#pycharm
__pycache__
.idea

#log
flask.log
venv/
#pid
manage.pid

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

app/static/.webaseets-cache
/flask_session/
/tesing/
/tests/
/wx/flask_session/
www/group-apply/static/
wx/static/
wx/templates/
/wx/instance/
/wx/wx.log
/app/templates/
/app/main/
/app/add_project/
/app/assets.py
