alembic==0.9.4
aniso8601==1.2.0
appdirs==1.4.3
asn1crypto==0.22.0
BareNecessities==0.2.8
blinker==1.4
cffi==1.10.0
click==6.7
coverage==4.4.1
cryptography==1.8.1
cssmin==0.2.0
Django==1.11.6
Fabric3==1.13.1.post1
Flask==0.12
Flask-Assets==0.12
Flask-Cache==0.13.1
Flask-Cors==3.0.3
Flask-DebugToolbar==0.10.1
Flask-HTTPAuth==3.2.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.1.0
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-Session==0.3.1
Flask-SocketIO==2.9.2
flask-sqlacodegen==1.1.6.1
Flask-SQLAlchemy==2.2
gevent==1.2.2
gevent-websocket==0.10.1
greenlet==0.4.12
gunicorn==19.7.1
idna==2.5
image==1.5.16
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.9.5
jsmin==2.2.2
locustio==0.8a2
Mail==2.1.0
Mako==1.0.7
MarkupSafe==1.0
msgpack-python==0.4.8
olefile==0.44
packaging==16.8
paramiko==2.1.2
Pillow==4.3.0
pingpp==2.2.0
pyasn1==0.2.3
pycparser==2.17
pycrypto==2.6.1
PyMySQL==0.7.10
pyparsing==2.2.0
python-dateutil==2.6.0
python-editor==1.0.3
python-engineio==1.7.0
python-socketio==1.8.1
pytz==2017.2
pyzmq==15.2.0
qiniu==7.1.2
qrcode==5.3
rauth==0.7.3
redis==2.10.6
requests==2.13.0
schedule==0.4.3
schema==0.6.6
selenium==3.4.3
six==1.10.0
sqlacodegen==1.1.6
SQLAlchemy==1.1.8
tingyun==1.3.1
webassets==0.12.1
Werkzeug==0.12.1
