* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.roles, .box{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #ec8c69, #ed5fa0);
    overflow-y: hidden;
}
/*活动规则页面*/
.roles-header{
    height: 67px;
    text-align: center;
}

.roles-header h1{
    color: #ffffff;
    font-size: 24px;
    line-height: 67px;
    margin: 0 auto;
}
.roles-body{
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
.roles-body{
    padding:0 13px 13px;
    text-align: left;
}
.roles-body p{
    line-height: 18px;
    margin: 12px 0;
}

/*砍价活动首页*/
/*首页头部开始*/
.box-header{
    font-size: 12px;
    text-align: center;
    padding: 40px 34px 0px;
}
.box-header a{
    color: #2340B6;
    font-weight: 500;
    margin: 0 auto;
    line-height: 34px;
    border-bottom:0.6px solid #0710B9;
}
.box-header p{
    color: #ffffff;
    letter-spacing: 0.3px;
    line-height: 20px;
    white-space: nowrap;
}
/*首页头部结束*/

/*首页中部开始*/
.box-content{
    position: relative;
}
.pic{
    display: flex;
    width: 100%;
    position: absolute;
    height: 100%;
}
.pic-box{
    width: 100%;
    height: 216px;
    display: flex;
    justify-content: center;
}
.pic-left{
    position: absolute;
    left: 0;
    top: 0;

    background: url(ios/left.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 216px;
    background-size: auto 100%;
}
.pic-center{
    z-index: 6666666;
    margin: auto;

}
.k-pic{
    height: 130px;width: 130px;border-radius: 50%
}
.k-pic:active{
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.pic-right{
    position: absolute;
    right: 0;
    top: 0;
    background: url(ios/right.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 216px;
    background-size: auto 100%;
}

/*首页中部结束*/


/*首页尾部开始    好友砍价榜*/
.footer{
    position: absolute;
    bottom: 0;
    top: 364px;
    width: 100%;
}
.box-footer{
    /*height: 185px;*/
    position: relative;
    margin: 10px 6px;
}
.show-message{
    position: absolute;
    border-radius: 5px;
    text-align: center;
    width: 60%;
    font-size: 14px;
    background-color: rgba(255,255,255,0.15);
    left: 0;
    right: 0;
    top: -35%;
    margin: 0 auto;
    height: 35px;
    overflow: hidden;
}
/*
@-webkit-keyframes anim1{
    0% {top: 35px;opacity: 1}
    50% {top: -35px;opacity: 1}
    75% {top: -35px ;opacity: 0}
    100%{top:35px;opacity: 0}
}
.show-message p:nth-child(1){

    -webkit-animation: anim1 3s linear infinite;
}
*/


.list-header{
    text-align: center;
    position: relative;
    border-bottom: 0.3px solid black;
    z-index: 66666666;
    height: 0.3px;
    top:7px;
}
.list-header>div>p{
    position: absolute;
    left: 25%;
    right: 25%;
    font-size: 12px;
    color: #ffffff;
    padding: 4px;
}

.list-content{
    margin: 27px 7px 11px;
    font-size: 10px;
}
.list-content ul>li{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 15px 10px;
}

.head-pic{
    width: 33px;
    height: 33px;
    /*background: #ffffff;*/
    flex-shrink: 0;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 13px;
    color: #ffffff;
    flex-shrink: 1;
    width: 100%;
}
.message-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.message-top span:first-child{
    display: flex;
    flex-shrink: 1;
}
.message-top span:last-child{
    display: flex;
    flex-shrink: 0;
    color: #FFDE6D;
}
.list-footer{
    margin: 13px auto;
    text-align: center;
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
/*首页尾部结束*/
.success-pic{
    width: 301px;
    height: 156.5px;
    margin: 10px auto 0;
}
.success-message{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
.success-self{
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
}
.success-rate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.rate-left{
    color: #FFDE6D;
}
.rate-center{
    color: #FFDE6D;
    width: 75%;
}
.bar_start{
    background: linear-gradient(to bottom, #FFDE6D, #FFC002,#FFDE6D);
    border-radius:20px;
    height: 34px;
    width:20%;
    transition: width 0.5s;
}
.rate-right{
    color: #FFDE6D;
}
.success-remaining{
    font-size: 11px;
    color: #ffffff;
}

.complete-message{
    padding: 0px 15px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 42px;
    top: 307px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.finish{
    position: absolute;
    top: 25%;
    right: 5%;
    height: 131px;
    width: 132px;
    z-index: 9999999;
}
[v-cloak] {
    display: none;
}

.guizhe{
    font-size: 14px;
}

.tips{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 30px;
}

.btn_share{
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(to bottom,#FEC8CA,#F4747F,#C54E8E);
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    box-shadow: #666 0px 0px 10px;
    margin-top: 5px;
    outline: none;
} 
.btn_share:active{
    opacity: 0.6;
}

@media screen and (min-width: 375px){
.guizhe{
    font-size: 18px;
    line-height: 25px;
}

.tips{
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
}

.btn_share{
    font-size: 20px;
    color: #ffffff;
    background: linear-gradient(to bottom,#FEC8CA,#F4747F,#C54E8E);
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    box-shadow: #666 0px 0px 10px;
    margin-top: 5px;
    outline: none;
} 
.roles-body{
    font-size: 16px;
    color: #ffffff;
}
}

@media screen and (min-width: 410px){
.guizhe{
    font-size: 20px;
    line-height: 30px;
}
.roles-body{
    font-size: 18px;
    color: #ffffff;
}
.tips{
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 30px;
}

.btn_share{
    font-size: 26px;
    color: #ffffff;
    background: linear-gradient(to bottom,#FEC8CA,#F4747F,#C54E8E);
    border: none;
    border-radius: 40px;
    padding: 8px 30px;
    box-shadow: #666 0px 0px 10px;
    margin-top: 5px;
    outline: none;
} 
}