/*body{*/
     /*font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","HeitiSC","WenQuanYi Micro Hei",sans-serif;*/
    /*font-style: normal;*/
/*}*/

/*nav{*/
    /*color: white;*/
/*}*/

/*.navbar-brand{*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
/*}*/

/*.navbar-default{*/
    /*background: black;*/
/*}*/

/*.navbar-nav{*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
/*}*/

/*.navbar-default .navbar-nav>li>a{*/
    /*color: darkgrey;*/
/*}*/

/*.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{*/
    /*color: white;*/
/*}*/




/*   header   */
footer .copyright{
    float: left;
    margin-left: 20px;
}
footer .help-list{
    float: right;
}
footer ul li{
    display: inline-block;
    margin-right: 20px;
}
