@CHARSET "UTF-8";
*{
	padding: 0px;
	margin: 0px;
}
body{
	font-size: 14px;
	font-family: '微软雅黑';
}
.iframe{
	font-size: 14px;
	margin: 15px auto;
}

a{
	text-decoration:none;
	cursor:pointer;
}

.hide{
	display: none !important;
}

.opacity{
	opacity: 0;
}

.foot{
	float: left;
	width:100%;
	height: 40px;
	line-height: 40px;
	color: white;
	text-align: center;
	bottom: 0px;
}
