.warp {
    width: 100%;
    margin: 0 auto;
}

.banner {
    width: 100%;
    background: url("http://image.houxiaopang.com/login_v1/banner.jpg") no-repeat;
    background-size: cover;
    height: 731px;
    position: relative;
}

.banner_fg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(49, 49, 49, 0.7);;
    position: absolute;
}
.box{
    margin: 20px auto 0 auto;
}
.logo {
    width: 150px;
    height: 54px;
    background: url("http://image.houxiaopang.com/login_v1/logo.png") no-repeat;
    background-size: 150px;
}
.context{
    float: left;
}
.text1 {
    font-size: 60px;
    color: #FFF;
    font-family: '黑体', serif;
    margin-top: 190px;
}

.text2 {
    font-size: 30px;
    color: #FFF;
    font-family: '黑体', serif;
    font-weight: lighter;
    margin-top: 50px;
}

.qrcode {
    width: 380px;
    height: 400px;
    background: #FFF;
    float: right;
    box-shadow: 0px 0px 15px 1px;
}
.more {
    height: 74px;
    width: 74px;
    background: rgba(101, 101, 102, 0.9) url(http://image.houxiaopang.com/login_v1/more.png) no-repeat 20px 48px;
    border-radius: 50%;
    background-size: 30px;
    z-index: -1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -41px;
}

.bg {
    background: url(http://image.houxiaopang.com/login_v1/bg.jpg) no-repeat;
    background-size: cover;
    height: 737px;
    margin-top: -146px;
    z-index: -10;
    position: relative;
}

.bg > .p1 {
    font-size: 45px;
    font-family: '黑体', serif;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 300px;
}

.bg > .p2 {
    font-size: 27px;
    font-family: '黑体', serif;
    color: #fff;
    width: 80%;
    text-align: center;
    margin: 80px auto 30px auto;
}

.bg > .p3 {
    font-size: 27px;
    font-family: '黑体', serif;
    color: #fff;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.th > ul{
    width:800px;
    margin: 0 auto;
    padding: 20px 0;
}
ul > li {
    margin: 40px 0;
}

span {
    color: #4e4e4e;
    line-height: 60px;
    font-size: 20px;
    padding-left: 90px;
    display: block;
}

em {
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    float: left;
    background-repeat: no-repeat;
}

.th > ul > li:nth-child(1) > em {
    background-image: url('http://image.houxiaopang.com/login_v1/1.png');
}

.th > ul > li:nth-child(2) > em {
    background-image: url('http://image.houxiaopang.com/login_v1/2.png');
}

.th > ul > li:nth-child(2) > span {
    line-height: 30px;
}

.th > ul > li:nth-child(3) > em {
    background-image: url('http://image.houxiaopang.com/login_v1/3.png');
}

.th > ul > li:nth-child(4) > em {
    background-image: url('http://image.houxiaopang.com/login_v1/4.png');
}

.th > ul > li:nth-child(5) > em {
    background-image: url('http://image.houxiaopang.com/login_v1/5.png');
}

.bg2 {
    background: url("http://image.houxiaopang.com/login_v1/bg2.jpg") no-repeat;
    background-size:cover;
    height: 509px;
}

.content > p {
    color: #313131;
    font-family: '黑体', serif;
    font-size: 45px;
    margin-top: 95px;
}

.content {
    float: right;
    margin-right: 110px;
}

.content li {
    padding: 0 0;
}

.content li > em {
    background-image: url('http://image.houxiaopang.com/login_v1/duihao.png');
}

.content span {
    width: 369px;
    color: #313131;
}
.bg2 > .content > ul > li:nth-child(1) > span {
    line-height: 30px;
}
.bg3 {
    background: url("http://image.houxiaopang.com/login_v1/bg3.jpg") no-repeat center center;
    height: 447px;
}

.bg3 > .content {
    float: none;
    margin-left: 130px;
    padding-top: 105px;
}

.bg3 p {
    margin: 0 0;
}

.bg3 span {
    color: #4e4e4e;
}

.six {
    height: 600px;
    text-align: center;
}

.six > p {
    color: #4e4e4e;
    font-family: '黑体', serif;
    font-size: 30px;
    margin-top: 90px;
}

.six > p:nth-child(1) {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #313131;
}

.six > p:nth-child(4) {
    margin-top: 20px;

}

.line {
    background: url(http://image.houxiaopang.com/login_v1/line.png);
    height: 4px;
    width: 597px;
    margin: 0 auto;
}

.six span {
    display: inline;
    line-height: inherit;
    font-size: 40px;
    padding: 0 0;
    color: #d01167;
}
.six > p:nth-child(4) > span{
    font-size: 60px;
}
.btn {
    width: 260px;
    height: 70px;
    margin: 100px auto 0;
    background: url("http://image.houxiaopang.com/login_v1/btn.png") no-repeat;
    background-size: 260px 70px;
    cursor: pointer;
    transform: all 1s;
}
.btn:hover{
	background: url("http://image.houxiaopang.com/login_v1/btn_ov.png") no-repeat;
	background-size: 260px 70px;
}


.foot {
    height: 50px;
    background: #282828;
}
@media (max-width: 1600px){
    .box{
        width:1200px;
    }
}
@media (min-width: 1650px){
    .box{
        width: 1600px;
    }
    .bg{
        height: 900px;
    }
    .th > ul{
        height: 833px;
        padding: 50px 0;
        width:1200px;
    }
    span{
        width:1280px;
        font-size: 26px;
        line-height: 60px;
        padding-left: 110px;
    }
    em{
        background-size: cover;
        width: 60px;
        height: 60px;
    }
    .th > ul > li:nth-child(2) > span {
        line-height: 59px;
    }

    .bg > .p1 {
        font-size: 60px;
        padding-top: 450px;
    }

    .bg > .p2{
        font-size: 30px;
    }

    .bg > .p3{
        font-size: 30px;
    }
    .bg2{
        height:815px;
    }
    .content span{
        width: 728px;
    }
    .bg2 > .content > ul > li:nth-child(1) > span {
        line-height: 40px;
    }
    .content > p{
        font-size: 48px;
        line-height: 80px;
    }
    .bg3{
        height:716px;
    }
    .bg3 > .content{
        margin-left: 300px;
    }
    .six > p:nth-child(1) {
        font-size: 60px;
    }
    .six > p{
        font-size: 40px;
    }
}